stash

.DS_STORE

praks3/*
!praks3/readMe.md

praks4/*
!praks4/readMe.md

praks5/*
!praks5/readMe.md

praks6/*
!praks6/readMe.md

praks7/*
!praks7/readMe.md

praks8/*
!praks8/readMe.md

praks11/*
!praks11/readMe.md

kodu4/*
!kodu4/readMe.md

kodu5/*
!kodu5/readMe.md

kodu6/*
!kodu6/readMe.md

koik/*
!koik/readMe.md

tulemused*.csv